@model IEnumerable<VentasApp.Models.Entrada>

@{
    ViewData["Title"] = "Index";
}
<h2>Compras realizadas</h2>

<p>
    <a asp-action="Create">Comprar nueva entrada</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)               
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Evento.NombreEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evento.Ubicacion)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Evento.Fecha)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EntradaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EntradaId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.EntradaId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
