@model IEnumerable<VentasApp.Models.Evento>

@{
    ViewData["Title"] = "Index";
}

<h2>Eventos disponibles</h2>


<p>
    <a asp-action="Create">Crear nuevo evento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EventoId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.EventoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
