@model IEnumerable<VentasApp.Models.EventoCategoria>

@{
    ViewData["Title"] = "Index";
}

<h2>Categoria de Eventos</h2>

<p>
    <a asp-action="Create">Crear nueva categoria de evento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaEntrada.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evento.NombreEvento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventoCategoriaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EventoCategoriaId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.EventoCategoriaId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
