@model IEnumerable<VentasApp.Models.CategoriaEntrada>

@{
    ViewData["Title"] = "Index";
}
<h2>Categoria de Entradas</h2>

<p>
    <a asp-action="Create">Crear nueva categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoriaEntradaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CategoriaEntradaId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoriaEntradaId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
